*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

body{
    background: orange;
}
nav{
    width: 40%;
    height: 65px;
    min-width: 300px;
    background-color: lightskyblue;
    margin: -55px auto;
    border-radius: 0px 0px 10px 10px;
    border: 3px solid black;
    -webkit-transition: margin 1s;
}

nav:hover{
    
     margin: -20px auto;
}

ul{
    width: 100%;
    height: 60px;
}
li{
    width: 25%;
    height: 100%;
    display: inline-block;
    margin-right: -5px;
    text-align: center;
}


.jscolor,#anadir,#borrar,#camara{
    width: 30px;
    margin-top: 22px;
    outline: 0px;
}

.jscolor{
    height: 30px;
    border-radius: 20px;
    font-size: 0; 
    border: 0;
    background-size: 0px;
}

html,body{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -2;
}

