.nota{
    z-index: -1;
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
}

.textoMod{
    position: absolute;
    opacity: 0.4;
    width: 200px;
    height: 200px;
    border: none;
    resize: none;
    outline: none;
    visibility: hidden;
    padding-top: 25px;
    padding-left: 10px;
    box-sizing: border-box;

}

.parrafo{
    position: absolute;
    top: 25px;
    left: 10px;
    right: 10px;
    width: 95%;
    height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.chincheta{
    position: absolute;
    left: 75px;
    width: 40px;
    border:0 none;
    outline: none;
}

input[type="checkbox"]{
    display: none;
    
}

input[type="checkbox"] + label{
    cursor: pointer;
    float: right;
}

label:before{
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 15px 15px 0;
    border-color: transparent red transparent transparent;
}

input[type="checkbox"]:checked + label:before{
    content: "";
    border-color: transparent green transparent transparent;
}